<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CowBufflo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">

    <div class="row">
      <div class="col" style="text-align: center;">
        4 digit Code
      </div>
    </div>
    
    <ion-grid>
      <form [formGroup]="wordForm" (submit)="onSubmit()" padding-right novalidate>

        <!-- <ion-row class="ion-align-items-center" style="justify-content: center;">
          <ion-item class="ion-text-center">
            4 digit Code
          </ion-item>
        </ion-row> -->

        <ion-row class="ion-align-items-center" style="justify-content: center;">
          <ion-col size="2" size-sm>
            <ion-item class="ion-text-center item-has-focus">
              <ion-input inputmode="tel" type='tel' pattern="tel" maxlength="1" autofocus="true" (keyup)="moveFocus(b)"
                formControlName="firstLetter" (keypress)="numberOnlyValidation($event)" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2" size-sm>
            <ion-item class="ion-text-center item-has-focus">
              <ion-input inputmode="tel" type='tel' pattern="tel" maxlength="1" #b autofocus="true"
                (keyup)="moveFocus(c)" formControlName="secondLetter" (keypress)="numberOnlyValidation($event)"
                required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2" size-sm>
            <ion-item class="ion-text-center item-has-focus">
              <ion-input inputmode="tel" type='tel' pattern="tel" maxlength="1" #c autofocus="true"
                (keyup)="moveFocus(d)" formControlName="thirdLetter" (keypress)="numberOnlyValidation($event)" required>
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2" size-sm>
            <ion-item class="ion-text-center item-has-focus">
              <ion-input inputmode="tel" type='tel' pattern="tel" maxlength="1" #d autofocus="true"
                (keypress)="numberOnlyValidation($event)" formControlName="fourLetter" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row class="ion-align-items-center" style="justify-content: center;">
          <ion-button type="submit" color="primary">Submit</ion-button>
        </ion-row>

      </form>

    </ion-grid>



    <table *ngIf="data?.length > 0" class="table table-sm table-bordered table-striped table-dark">
      <thead>
        <tr>
          <th>4 digit code</th>
          <th>cow</th>
          <th>bufflo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data">
          <td>
            {{ row.word }}
          </td>
          <td>
            {{ row.cow }}
          </td>
          <td>
            {{ row.bufflo }}
          </td>
        </tr>
      </tbody>
    </table>




  </div>
</ion-content>