<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      CB
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <div class="container">

    <ion-grid>
      <form [formGroup]="wordForm"  (submit)="onSubmit()" padding-right novalidate>

        <ion-row>
          <ion-col size="2" size-sm>
            <ion-item class="ion-text-center">
              <ion-input 
                class="ng-pristine ng-invalid in-item hydrated ng-touched ion-pristine ion-invalid ion-touched"
                inputmode="tel" type='tel' pattern="tel" maxlength="1"  (focus)="formGroup.get('firstLetter').markAsTouched()"
                (keyup)="moveFocus(b)" formControlName="firstLetter" (keypress)="numberOnlyValidation($event)"  required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2" size-sm>
            <ion-item class="ion-text-center">
              <ion-input inputmode="tel" type='tel' pattern="tel" maxlength="1"  #b
                (keyup)="moveFocus(c)" formControlName="secondLetter" (keypress)="numberOnlyValidation($event)" required></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2" size-sm>
            <ion-item class="ion-text-center">
              <ion-input inputmode="tel" type='tel' pattern="tel" maxlength="1"  #c
                (keyup)="moveFocus(d)" formControlName="thirdLetter" (keypress)="numberOnlyValidation($event)"  required>
              </ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="2" size-sm>
            <ion-item class="ion-text-center">
              <ion-input inputmode="tel" type='tel' pattern="tel" maxlength="1"  #d
                (keypress)="numberOnlyValidation($event)" formControlName="fourLetter" required></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-button type="submit" color="primary" expand="block" >Submit</ion-button>

      </form>

    </ion-grid>



    <table *ngIf="data?.length > 0" class="table table-sm table-bordered table-striped table-dark">
      <thead>
        <tr>
          <th>word</th>
          <th>cow</th>
          <th>bufflo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of data">
          <td>
            {{ row.word }}
          </td>
          <td>
            {{ row.cow }}
          </td>
          <td>
            {{ row.bufflo }}
          </td>
        </tr>
      </tbody>
    </table>

    


  </div>
</ion-content>